.btn-add {
    background-color: $color-orange;
    padding: 1.5rem 2rem;
    font-size: 1.6em;
    margin: 2rem 0;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background-color .25s ease-out;
}

.btn-add:hover {
    background-color: $color-orange-darker;
}

.btn-add-container {
    margin: 2rem 0;

    @include respond(tab-port) {
        margin: 4rem 0;
      }
}

.btn-add-remove {
    width: 30px;
    border: none;
    background-color: $color-orange;
    color: white;
    padding: .5rem;
    font-weight: bold;
    font-size: .8em;
    cursor: pointer;
}

.btn-add-remove:hover {
    background-color: $color-orange-darker;
}

.btn-checkout {
    background-color: $color-orange;
    padding: 1.5rem 2rem;
    font-size: 2em;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: bold;

    transition: background-color .25s ease-out;
}

.btn-checkout:hover {
    background-color: $color-orange-darker;
}