.btn-add {
    background-color: orange;
    padding: 1.5rem 2rem;
    font-size: 1.6em;
    margin: 2rem 0;
    cursor: pointer;
    text-decoration: none;
}
.btn-add-container {
    margin: 2rem 0;
}

.btn-add-remove {
    width: 30px;
}

.btn-checkout {
    background-color: orange;
    padding: 1.5rem 2rem;
    font-size: 2em;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: bold;

}