.cart-item__image {
    height: 12rem;
}


.cart-item__container {
    display: flex;
    font-size: 1.7em;

    &--final {
        margin-bottom: 3rem;
    }
}

.cart-item__image-amount {

    display: flex;
    flex-direction: column;

    & > p {
        margin: 1rem auto;
        font-size: 1.2em;
    }
}

.cart-item__text {
    margin-left: 2rem;

    @include respond(phone) {
        margin-left: 1rem;
      }

    & > h3 {
        margin-bottom: .5rem;
    }

    & > p {
        margin-bottom: .5rem;
    }
}

.cart-item__amount {
    color: rgb(219, 114, 16);
}

.cart-item__footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & > p {
        font-size: 2.3em;
        font-weight: bold;
    }
}

.cart-item__remove-item-row {
    cursor: pointer;
    color: orange;
    font-weight: bold;
}

.cart__content {
    height: calc(100vh - 160px);
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 3rem;
    padding: 0 3rem;

    @include respond(phone) {
        padding: 0 2rem;
      }

    &--item {
        height: 100px;
    }
}

.cart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > p {
        margin: 0 auto;
        font-size: 2.5em;
        font-weight: bold;
    }
}

.cart__empty {
    font-size: 1.6em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > span {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    
}

.cart__empty-link {
    text-decoration: none;
    color: $color-blue-dark;
    background: $color-blue-light;
    padding: 1.7rem 4rem;
    font-size: .7em;
    margin-bottom: 1rem;
    min-width: 165px;
    text-align: center;
    transition: background-color .25s ease-out, color .25s ease-out;
}


.cart__empty-link:hover {
    background-color: $color-blue-dark;
    color: $color-blue-light;
}

.cart_notification {
    color: black;
    position: fixed;
    z-index: 4;
    right: 45px;
    top: 45px;
    padding: 6px 6px;
    background-color: orange;
    border-radius: 100%;

    @include respond(phone) {
        right: 40px;
        top: 35px;
      }
}

.cart__drawer {
        z-index: 6;
        position: fixed;
        top: 0;
        right: -370px;
        width: 360px;
        background-color: #f7f7f7;
        height: 100%;
        padding: 18px 0 80px;
        transition: right .3s ease-out;

        @include respond(phone) {
            width: 300px;
        }

        &-close {
            margin-left: 18px;
        }
    }

.cart__toggle {
    right: 0;
}