.hero,  
.hero-sub--contact {
    height: 70vh;
    background-image: linear-gradient(rgba(0,0,0, 0.2), rgba(0,0,0, 0.1)),url("/hero.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    margin-top: 79px;

    &--sub {
        background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0, 0.2)),url("/men_main.jpg");
        background-position: bottom;

        &-women {
            background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0, 0.2)),url("/women_main.jpg");
        }
    }

    &--category {
        background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0, 0.2)),url("/mountain.jpg");
        background-position: center;
    }

    @include respond(phone){
        background-size: auto;
        background-position: inherit;
    }

    &::before {
        background-color: rgba(0, 0, 0, 0.7);
    }
    
    &__text-box {
        color: white;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 0 10px;

        @include respond(phone){
            top: 65%
        }
    }

    &__link {
        text-decoration: none;
        padding: 2rem;
        color: white;
        background: hsla(0,0%,100%,.25);
        margin: 2rem;
        font-size: 2em;
        transition: color .25s ease-out;
    }

    &__link:hover {
        color: $color-red-lighter;
    }
}

.hero-primary {
    display: flex;
    flex-direction: column;
    text-align: center;

    &--main {
        font-size: 5em;
        letter-spacing: 8px;
    }

    &--sub {
        font-size: 2em;
        letter-spacing: 6px;
    }
}

.hero__link-div {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}