.header {
    background: $color-black;
    min-height: 80px;
    max-height: 85px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;

    &__menu-logo {
        cursor: pointer;
        height: 50px;
        width: 40px;
    }

    &__shopping-cart {
        cursor: pointer;
    }
}

.heaver__brand{
    text-decoration: none;
    color: white;
    font-size: 5em;
    font-weight: bold;
    letter-spacing: 3px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    min-height: 80px;
    
}

.cart_notification {
    color: black;
    position: fixed;
    z-index: 4;
    right: 65px;
    top: 45px;
    padding: 4px 7px;
    background-color: orange;
    border-radius: 100%;
}

.cart__drawer {
        z-index: 6;
        position: fixed;
        top: 0;
        right: -370px;
        width: 360px;
        background-color: #f7f7f7;
        height: 100%;
        padding: 18px 0 80px;
        transition: right .3s ease-out;

        &-close {
            margin-left: 18px;
        }
    }

.cart__toggle {
    right: 0;
}

.menu__drawer {
        z-index: 6;
        position: fixed;
        top: 0;
        left: -270px;
        width: 260px;
        background-color: #222;
        height: 100%;
        padding: 18px 0 80px;
        transition: left .3s ease-out;

        &-close {
            margin-left: 18px;
        }

        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 2em;
        }
    }

.menu__toggle {
    left: 0;
}

.menu__list {
    list-style-type: none;
    margin: 0;
}

.menu__list-container {


    & > * {
        margin-bottom: 2rem;
    }

    & > ul > li {
        margin-bottom: 1rem;
    }
}

.menu__link {
    text-decoration: none;
    color: white;
    transition: color .25s ease-out;

    &--item {
        color: #bcdeed;
    }
}

.menu__link:hover,
.menu__link:active {
    color: $color-red;
}

