
.checkout__container{
    display: flex;
    margin: 85px 20px 0 20px;

    @include respond(tab-port) {
        flex-direction: column;
    }

    @include respond(phone) {
        margin: 50px 0 0 0;
    }

}

.checkout__payment-container {
    width: 55%;

    @include respond(tab-port) {
        margin-left: 5rem;
    }

    @include respond(phone) {
        margin-left: 2rem;
    }
}

.checkout__payment-container-center {
    max-width: 800px;
    margin: 5rem 0 5rem auto;

    & > h1 {
        font-size: 6em;
        margin-bottom: 1rem;
    }

    & > p {
        font-size: 1.6em;
        margin-bottom: 1rem;
    }

    & > h2 {
        font-size: 2em;
        margin-bottom: 1rem;
    }
}

.form__side-by-side {
    display: flex;

    @include respond(tab-land) {
        flex-direction: column;
    }

    &--inputs:first-child{
        margin-right: 2rem;
    }
}


.checkout__main-item-container {
    width: 45%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: $color-off-white;

    @include respond(tab-port) {
        width: 100%;
    }
}

.checkout__item-footer {
    display: flex;
    margin: 5rem;

    & > p {
        font-size: 3em;
    }
}

.checkout__cart-content {
    height: calc(60vh);
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 3rem;
    padding: 0 3rem;

    @include respond(tab-land) {
        height: 75vh;
    }

    @include respond(tab-port) {
        max-height: 40rem;
    }

    &--item {
        height: 100px;
    }
}

.payment__input {
    

    &--large {
        border-radius: 5px;
        border: 1px solid $color-gray;
        width: 60rem;
        height: 4rem;
        font-size: 1.8em;
        margin-bottom: 1.6rem;
        padding-left: 1rem;
        outline: none;

        @include respond(tab-land) {
            width: 45rem;
        }

        @include respond(phone) {
            width: 70vw;
        }
    }

    &--small {
        border-radius: 5px;
        border: 1px solid $color-gray;
        width: 29rem;
        height: 4rem;
        font-size: 1.8em;
        margin-bottom: 1.6rem;  
        padding-left: 1rem;
        outline: none;

        @include respond(phone) {
            width: 65vw;
        }
    }

    &--large:focus,
    &--small:focus {
        border-color: $color-blue-dark;
    }
}

.contact__email-container {
    display: flex;
    flex-direction: column;
}

.contact__marketing-container {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    margin-bottom: 2rem;
    
    & > input {
        cursor: pointer;
    }

    & > label {
        margin-left: 1rem;
    }
}

.checkout__h2 {
    font-size: 2em;
    margin-bottom: 1rem;
}

.checkout_text-bold {
    font-weight: bold;
}

.checkout__footer-checkout {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 60rem;

    @include respond(tab-land) {
        max-width: 45rem;
    }

    @include respond(phone) {
        width: 30rem;
    }
}

.checkout-return {
    text-decoration: none;
    color: $color-blue-dark;
    font-size: 1.4em;
}