.section-gender {
    margin: 0 0 100px;
    display: flex;
    justify-content: center;
}

.gender__container {
    margin-right: auto;
    margin-left: auto;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem 15rem;
    margin-top: 10rem;
}

.gender {
    margin: 0 0 80px;

    &__row {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    &__text-area {
        display: flex;
        flex-direction: column;

        &--gender {
            padding-left: 7rem;
        }

        & > h3 {
            font-size: 3.2em;
            text-align: center;
        }

        & > p {
            font-size: 1.7em;
            width: 45rem;
            text-align: center;
        }

        & > a {
            width: 17rem;
            text-align: center;
            font-weight: bold;
        }
    }

    &__link {
        text-decoration: none;
        color: $color-blue-dark;
        padding: 2rem;
        background: $color-blue-light;
        font-size: 2em;
        border-radius: 10px;
        margin-top: 4rem;

        &--gender-item {
            padding: 1rem;
            font-size: 1.3em;
            margin: 2rem auto;
            border-radius: 0;
        }
    }
}

.gender-image {
    width: 45rem;
}
