.section-home {
    margin: 0 0 100px;
}

.home__container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10rem;;
}

.home {
    margin: 0 0 80px;

    &__row {
        display: flex;
        justify-content: space-around;
        margin-bottom: 10rem;
    }

    &__text-area {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        text-align: left;

        &--men {
            padding-left: 7rem;
        }

        & > h3 {
            font-size: 3.2em;
            text-align: left;
        }

        & > p {
            font-size: 1.7em;
            width: 40rem;
            text-align: left;
        }

        & > a {
            width: 17rem;
            text-align: center;
            font-weight: bold;
        }
    }

    &__link {
        text-decoration: none;
        padding: 2rem;
        color: $color-blue-dark;
        background: $color-blue-light;
        font-size: 2em;
        margin-top: 4rem;
        transition: background-color .25s ease-out, color .25s ease-out;

        &--item {
            padding: 1rem;
            font-size: 1.3em;
            border-radius: 0;
            margin-top: 2rem;
            color: $color-blue-dark;
            background: $color-blue-light;
        }

        &--item:hover {
            background-color: $color-blue-dark;
            color: $color-blue-light;
        }
    }
}

.home-image {
    width: 50rem;
}

.home__image-area {
    width: 50rem;
    overflow: hidden;
}
