$color-black: #232323;
$color-red: rgb(223, 15, 15);
$color-red-lighter: rgb(241, 11, 11);
$color-off-white: #f7f7f7;

// Button colors
$color-blue-light: #bcdeed;
$color-blue-dark: #0b00aa;
$color-orange: #ff4721;
$color-orange-darker: #df3e1e;

//Text input colors
$color-gray: rgb(180, 180, 180);